
.danger { background: #F44336 !important; }
.success { background: #90d218 !important; }
.primary { background: blue !important; }
.light { background: #ccc !important; }

.font-12 { font-size: 12px !important;}
.font-14 { font-size: 14px !important;}
.font-16 { font-size: 16px !important;}
.font-18 { font-size: 18px !important;}
.font-20 { font-size: 20px !important;}
.font-22 { font-size: 22px !important;}
.font-24{ font-size: 24px !important;}

.white-text { color: #fff !important; }
.primary-text { color: #4caadf !important; }
.green-text { color: #90d218 !important; }
.danger-text { color: #F44336 !important; }
.light-text { color: #556677e6 !important; }