<mz-card class="white black-text" [hoverable]="true">
  <mz-card-title>
    Salary Sheet
  </mz-card-title>
  <mz-card-content>
      <div class="form-section robot-regular">
          <form [formGroup]="salaryForm" novalidate (keyup.enter)="submitDetails()">
            <div class="row">
              <div class="col l6 m6 s6">
                  <mz-input-container class="">
                    <input mz-input mz-validation required id="input-name" formControlName="name" type="text" [label]="'Employee Name'"
                    />
                    <span class="danger-text " *ngIf="salaryForm.controls.name.touched && salaryForm.controls.name?.invalid">{{validationMessages.name.required}}</span>
                  </mz-input-container>
              </div>
              <div class="col l6 m6 s6">
                  <mz-input-container class="">
                      <input mz-input mz-validation required id="input-basicSalary" formControlName="basicSalary" type="number" [label]="'Basic Salary (Numbers only)'"
                      />
                      <span class="danger-text " *ngIf="salaryForm.controls.basicSalary.touched && salaryForm.controls.basicSalary?.invalid">{{validationMessages.basicSalary.required}}</span>
                    </mz-input-container>
                </div>
            </div>
            <div class="row">
              <div class="col l6 m6 s6">
                <mz-input-container class="">
                    <input mz-input mz-validation required id="input-allowance" formControlName="allowance" type="number" [label]="'Allowance (Numbers only)'"
                    />
                    <span class="danger-text " *ngIf="salaryForm.controls.allowance.touched && salaryForm.controls.allowance?.invalid">{{validationMessages.allowance.required}}</span>
                  </mz-input-container>
              </div>
              <div class="col l6 m6 s6">
                  <mz-input-container class="">
                    <input mz-input mz-validation required id="input-fine" formControlName="fine" type="number" [label]="'Fine (Numbers only)'"
                    />
                    <span class="danger-text " *ngIf="salaryForm.controls.fine.touched && salaryForm.controls.fine?.invalid">{{validationMessages.fine.required}}</span>
                  </mz-input-container>
                </div>
              </div>
          </form>
        </div>
        <a mz-button class="primary action-button" (click)="submitDetails()">
          <span class="white-text">Submit</span>
        </a>

        <div style="margin-top: 50px">
            <mz-collection>
                <mz-collection-item>
                  <div class="row">
                    <div class="col l4 m4 s4">
                      Name
                    </div>
                    <div class="col l6 m6 s6" >
                      Total Salary
                    </div>
                    <div class="col l2 m2 s2">
                        action
                      </div>
                  </div>
                </mz-collection-item>
                <mz-collection-item *ngFor="let emp of empData">
                    <div class="row">
                        <div class="col l4 m4 s4">
                            {{emp.name}}
                          </div>
                          <div class="col l6 m6 s6" >
                              {{ getTotal(emp) | currency}}
                          </div>
                          <div class="col l2 m2 s2">
                              <a href="javascript:void(0)" (click)="editSalary(emp.id)">
                                  <i mz-icon-mdi [icon]="'pencil'"></i>
                              </a>
                          </div>
                      </div>
                </mz-collection-item>
              </mz-collection>
        </div>
  </mz-card-content>
</mz-card>


